<div class="container">
    <!-- Section Header -->
    <h3 style="text-align: center;">About me </h3>
    <hr>
    <table width="500px">
        <tbody>
            <tr>
                <!-- A formal picture of me -->
                <td> <img src="/public/content/images/pictureOfMe.jpg" width="150px" height="250px"></td>
                <td style="margin-top: 25px;">
                    <p>Hi there, heres a little about me.</p>
                    <p>My name is Alexander Damovski, but Alex is fine. Im currently enrolled into Software Engineering Technology at Centennial College.</p>
                    <p>I currently live in the Greater Toronto Area and I'm 19 Years old.</p>
                    <p>If interest take a look at my <a href="/public/content/Resume.pdf">Resume</a>.</p>
                </td>
            </tr>
        </tbody>
    </table>


</div>