<div id="allPage">
    <div id="openTitle">
        <!-- Display my contact information-->
        <h1 id="TopTitle">Contact Form</h1>
        <p>If you need to contact me, see the information below. </p>
        <p>Email: alexanderdamovski@gmail.com <br> Phone: +1 289-423-0814 <br>
        </p>
        <P>Have Any Questions? Fill out the form below and I will get back to you as soon as possible</P>
    </div>
    <main>
        <!-- User form -->
        <form action="./home">
            <table style="width: 900px;" id="firstTable">
                <h4>Contact Information: </h4>
                <tr>
                    <td class="fieldLabel">*First Name:
                        <input type="text" name="NameFirst" size="15" tabindex="1" required>
                    </td>
                    <td class="fieldLabel" style="text-align: left;">*Last Name:
                        <input type="text" name="NameLast" size="15" tabindex="3" required>
                    </td>
                </tr>
                <tr>
                    <td class="fieldLabel">*Phone Number:
                        <input type="tel" name="PhoneNum" size="15" tabindex="5" required>
                    </td>
                    <td class="fieldLabel">*Email:
                        <input type="email" name="InEmail" size="15" tabindex="7" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="MoreInfo" cols="50" rows="4" tabindex="37" placeholder="Anymore Information you want to provide, put them here."></textarea>
                    </td>
                </tr>
                <td class="fieldLabel">
                    <input type="submit" name="btnSubmit" value="Submit" tabindex="39">
                    <input type="reset" name="btnReset" value="Clear" tabindex="41">
                </td>
            </table>
        </form>
        <P>Thanks for taking the time to fill out the form. I will get back to you as soon as possible.</P>
    </main>
</div>