<link rel="stylesheet" type="text/css" href="/public/content/app.css" />
<div class="container">
    <!-- Section Header -->
    <h2 style="text-align: center;">Welcome to my web page</h2>
        <hr>
    <div class="homePage">
        <br>
        <!-- My Mission statement -->
        <h5>My Mission: </h5>
        <p>My mission is to be the best person I can and be able to provide the best service I can to anyone. The goal is for me to become a Software Engineer at a big firm. As a person, I'm hard working and always try to improve from my mistakes. To navigate
            to other parts of my website, use the navigation bar to find more about me and my projects. Thanks for visiting my website! </p>
    </div>
</div>