<div class="container">
    <div>
        <!-- Section Header -->
        <h2 style="text-align: center;">My projects </h2>
        <hr>
    </div>
    <div class="buttons" style="justify-items: center;">
        <table width="900">
            <tbody>
                <tr>
                    <td>
                        <!-- Screenshot is from my own project here: http://studentweb.cencol.ca/adamovsk/Assignments/Assignment3/Assignment3.html -->
                        <img src="/public/content/images/phoneAssignment.PNG" width="450" height="325">
                    </td>
                    <td>
                        <p>In this project from the first semester we had to find a product to create a webpage for advertising the product. In this case I created a page to advertise the Samsung Galaxy s22/s22+/s22 Ultra</p>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <!-- Screenshot is from my own project here: http://studentweb.cencol.ca/adamovsk/Assignments/assignment4/Assignment4.html -->
                        <img src="/public/content/images/formAssignment.PNG" width="450" height="325">
                    </td>
                    <td>
                        In this project, we were asked to create a webpage that had a form. This form will allow the user submit evaluation on how well the Professor perform in presenting the course. In short, it allow people to submit feedback to the College about the course.
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- This screenshot was from my own project from C# class -->
                        <img src="/public/content/images/accountsProject.jpg" alt="" width="450" height="325">
                    </td>
                    <td>
                        In this project we needed to create a C# graphical application. This application will take user input and create a savings or checking account. When the user clicks "Create Account", it will store the amount of accounts created in an array.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>